// Custom.scss
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: #004777;
$secondary: #f1faee;
$success: #00a300;
$info: #00afb5;
$warning: #ff7700;
$danger: #a30000;
$light: #eaeaea;
$dark: #555;
$smash: #6930c3;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";

$font-size-base: 12px;
$font-family-sans-serif: "JetBrains Mono", monospaced;
$font-size-base: 1rem;
$line-height-base: 1.4;

$body-bg: #eee;
$body-color: #555;

$utilities: (
        "shadow": (
                property: box-shadow,
                class: shadow,
                state: hover,
                values: (
                        null: $box-shadow,
                        sm: $box-shadow-sm,
                        lg: $box-shadow-lg,
                        none: none,
                )
        )
);

// 4. Include any default map overrides here
// Create your own map
$custom-colors: (
        "smash": $smash,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// 5. Import all the rest of Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// 6. Add additional custom code here
html, body {
  min-height: 100vh;
}